################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/ACadSvg/obj
/ACadSvg/bin
/ACadSvg.Test/obj
/ACadSvg.Test/bin
