################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/ACadSvg/obj
/ACadSvg.Test/bin/Debug/net6.0
/ACadSvg.Test/obj
